body {
  color: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

.inner {
  width: 100%;
  margin-inline: auto;
}

.searchArea {
  width: 100%;
}
.searchArea form {
  margin-inline: auto;
}

.video-selector {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  background: #2e2e2e;
  margin: auto;
  overflow: scroll;
}

.iPod {
  width: 100%;
  height: 100vh;
  background: #555555;
  margin: auto;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.screen {
  width: 90%;
  height: 250px;
  background: #414040;
  margin: 25px auto;
  border: 5px solid #1b1b1b;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.screen #seekbar {
  width: 90%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screen input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
}
.screen__menu {
  width: 100%;
  height: 0%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: height 0.5s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.screen__menu .thumbnailimage {
  height: 100%;
}
.screen__menu .thumbnailimage img {
  margin: auto;
  text-align: center;
}
.screen__menu .searchlist {
  margin: 0;
  width: 50%;
  padding-left: 0;
  height: 100%;
  overflow: scroll;
  box-shadow: 0px 0 15px -3px #000000;
  /* (5px + 3px) 0 3px (-3px) #000000 */
}
.screen__menu li {
  cursor: pointer;
  font-size: 10px;
  padding: 0 10px;
  margin-top: 5px;
}
.screen__menu li:hover {
  color: #ffffff;
  background-color: #3384f5;
}

.displayblock {
  height: 100%;
  transition: height 0.5s;
}

select {
  width: 100%;
  height: 10%;
  background: transparent;
  border: none;
  color: #000000;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wheelcover {
  width: 325px;
  height: 288px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 150px;
}

.wheel {
  width: 263px;
  height: 263px;
  background: #1b1b1b;
  margin: 13px auto;
  overflow: hidden;
  border-radius: 125%;
}
.wheel div,
.wheel img {
  cursor: pointer;
}

#mute {
  display: block;
  position: absolute;
  top: 40px;
  left: 140px;
  color: #fefefe;
  text-align: center;
}

#do10sNext {
  width: 24px;
  position: absolute;
  top: 135px;
  left: 244px;
}
#do10sNext:hover {
  scale: 1.1;
}

#do10sPrev {
  width: 24px;
  position: absolute;
  top: 135px;
  left: 51px;
}
#do10sPrev:hover {
  scale: 1.1;
}

#play-pause {
  width: 24px;
  position: absolute;
  top: 228px;
  left: 150px;
}
#play-pause:hover {
  scale: 1.1;
}

.play {
  width: 125px;
  height: 125px;
  background: #3a3a3a;
  margin: 68px auto;
  border-radius: 100%;
}

.volume {
  width: 180px;
  background: #ffffff;
  margin: -10px auto;
  border-radius: 25px;
  font-size: 16px;
  color: #1b1b1b;
  padding: 5px 20px 1px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
}

@media (min-width: 400px) {
  .iPod {
    max-width: 375px;
    max-height: 625px;
    margin-top: 63px;
    border-radius: 38px;
  }
  .screen {
    width: 325px;
    height: 250px;
  }
  .wheelcover {
    width: 325px;
    height: 288px;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: auto;
  }
  .volume::after {
    content: "";
    width: 10px;
    height: 1000px;
    position: absolute;
    top: 0;
    right: 50%;
    display: block;
    background-color: #ffffff;
    z-index: -20;
  }
}
/*# sourceMappingURL=style.css.map */