@charset "utf-8";

@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j;
  align-items: $a;
}

$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 1000px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin mx($a: auto) {
  margin-left: $a;
  margin-right: $a;
}

body {
  background-color: rgb(126, 126, 126) !important;
  color: rgb(0, 0, 0);
  font-family: Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

body {
  background-color: #2e2e2e;
}

@media (min-width: 400px) {
  .iPod {
    max-width: 375px;
    max-height: 625px;
    margin-top: 63px;
    border-radius: 38px;
  }

  .screen {
    width: 325px;
    height: 250px;
  }
  .volume {
    &::after {
      content: "";
      width: 10px;
      height: 1000px;
      position: absolute;
      top: 0;
      right: 50%;
      display: block;
      background-color: #ffffff;
      z-index: -20;
    }
  }
}
.inner {
  width: 100%;
  margin-inline: auto;
}

.searchArea {
  width: 100%;
  form {
    margin-inline: auto;
  }
}
.video-selector {
  width: fit-content;
  height: 100%;
  background: #2e2e2e;
  margin: auto;
  margin-top: 63px;
  overflow: hidden;
  border-radius: 25px;
}

.iPod {
  width: 100%;
  height: 100vh;
  background: #555555;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.screen {
  width: 90%;
  height: 250px;
  background: #414040;
  margin: 25px auto;
  border: 5px solid #1b1b1b;
  border-radius: 6px;
  position: relative;
}

#seekbar {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wheelcover {
  width: 325px;
  height: 288px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.wheel {
  width: 263px;
  height: 263px;
  background: #1b1b1b;
  margin: 13px auto;
  overflow: hidden;
  border-radius: 125%;

  div,
  img {
    cursor: pointer;
  }
}

#mute {
  display: block;
  position: absolute;
  top: 40px;
  left: 150px;
  color: #717171;

  &:hover {
    scale: 1.1;
  }
}

#do10sNext {
  width: 24px;
  position: absolute;
  top: 135px;
  left: 244px;

  &:hover {
    scale: 1.1;
  }
}

#do10sPrev {
  width: 24px;
  position: absolute;
  top: 135px;
  left: 51px;

  &:hover {
    scale: 1.1;
  }
}

#play-pause {
  width: 24px;
  position: absolute;
  top: 228px;
  left: 150px;

  &:hover {
    scale: 1.1;
  }
}

.play {
  width: 125px;
  height: 125px;
  background: #3a3a3a;
  margin: 68px auto;
  border-radius: 100%;
}

.volume {
  width: 180px;
  background: #ffffff;
  margin: -10px auto;
  border-radius: 25px;
  font-size: 16px;
  color: #1b1b1b;
  padding: 5px 20px 1px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: block;
}

select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  appearance: none;
}
